 @import "./reset.css"


* {
    box-sizing: border-box;
} 


body{
    background-image: url(./Milan_pictutes/fone.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    /* background-image: url("./Milan_pictutes/fone.png"); */
}





.wrapper{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}
.header{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1449px;
    width: 75%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-top: 50px;
    /*vertical-align: baseline;*/
}

.logo-picture{
    width: 53px;
    height: 47px;
    background-image: url(./Milan_pictutes/logo3.png);
    background-size: cover;

}

.logo-picture:hover{
    width: 53px;
    height: 47px;
    background-image: url(./Milan_pictutes/logo2.png);
    background-size: cover;
}
.logo-picture{
    float: left;
}

.logo-text{
    font-size: 29px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
}

.logo-text:hover{
    font-size: 29px;
    color:#F26522;
    text-decoration: none;
    font-family: Roboto;
}


.logo-text-botom{
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
    
}

.logo-text-botom:hover{
    font-size: 18px;
    color: #F26522;
    text-decoration: none;
    font-family: Roboto;

}


.text-list{
    display: flex;
    flex-direction: column;
    padding-left: 5px;

     
}
.contacts{
    display: flex;
    flex-direction: column;
}

.email-top{
    text-align: right;
}

.email{
    width: 219px;
    height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18%;
}

.email:hover{
    color: #F26522;
}
.phone-top {
    text-align: right;
    padding-top: 15px;
}



.phone-number{
    width: 146px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18%;
    color:#FFFFFF; 
    text-decoration: none;
    /* padding-top: 15px; */
}

.phone-number:hover{
    color: #F26522;
}

.pictures-text{
    font-family: Roboto;
    font-size: 18px;
    color: #FFFFFF;
    
}

.pictures-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 60px  70px;
    width: 1028px;
    max-height: 568px;
    padding-top: 25px;

}

.pictures-item{
    text-align: center;
    width: 300px;
    height: 220px;
}


.link-item{
    position: relative;
    width: 300px;
    height: 220px;
    text-decoration: none;
    
}
.view{
    height: 55px;
    width: 300px;
    margin: 0 auto;
    position: absolute;
    display: none;
    background-color: #F26522;
    margin-top: -55px;
}

.link-item:hover .view{
    display: block;
    transition: 1s;
}

.copyright{
    font-size: 12px;
    color: #FFFFFF;
    font-family: Roboto;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 15px;
}


.details-color-top{
    font-size: 10px;
    font-family: Roboto;
    color: #FFFFFF;
    height: 22px;
    margin-top: 5px;
    margin-bottom: -15px;
    padding-right: 70px;


}

.details-color-price{
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 20px;
    height: 22px;
    padding:-10px;
    padding-right: 80px;
    /*padding-bottom: 20px;*/

}

.details-color-view{
    color: #FFFFFF;
    font-size: 14px;
    font-family: Roboto;
    padding-top: 20px;
    padding-left: 50px ;
    position: absolute;

}

.details-color-view::after{
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    position: absolute;
    transform: rotate(45deg);
    left: 107%;
}



.details-left{
    width: 50%;
    float: left;
}
.details-right{
    width: 50%;
    float: left;
}